/**Landing Page**/

.main{
    display: flex;
    flex-direction: row;
    font-family: 'Dancing Script', cursive;
    color: white;
}

.blur{
    backdrop-filter: blur(4px);
}

.mainTitle{
    font-family: 'Dancing Script', cursive;
    color: white;
}

.title{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 12em;
}

.logo{
    height: 52px;
}

.rightOpt{
    background-color: rgb(47, 47, 47);
    border-radius: 20px;
}

.signup{
    border: 3px solid #fff;
    background: none;
    padding: 12px 24px;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    color: #fff;
    border-radius: 20px;
}

.signup:hover{
    color: rgb(47, 47, 47);;
}

.signup::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #fff;
    z-index: -1;
    transition: 0.8s;
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.signup:hover::before{
    height: 180%;
}

.drop{
    margin-right: 0% ;
}

.contact{
    position: relative;
    min-height: 80vh;
    min-width: 50vh;
    margin-left: 100px;
    margin-right: 100px;
    padding:0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:red;
    background-size: cover;
    border-radius: 20px;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    font-family: 'Dancing Script', cursive;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: #00bcd4;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
    border-radius: 20px;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 0px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px)
{
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo,
    .contactForm{
        width: 100%;
    }
}









